body
div.navbar-fixed >
nav {
    background-color: #613318;
    color: #bdd09f;
}

body
div.navbar-fixed >
nav
.brand-logo {
    color: #bdd09f;
}

body
div.navbar-fixed >
nav
ul
a {
    color: #bdd09f;
}

body {
    background-color:  #bdd09f !important;
}

body
h1 {
    color: #613318;
}

body
h2 {
    color: #613318;
}

body
h3 {
    color: #613318;
}

body
h4 {
    color: #613318;
}

body
h5 {
    color: #613318;
}

body
h6 {
    color: #613318;
}

footer.page-footer {
    background-color: #613318;
    color: #bdd09f;
}

footer.page-footer >
div.page-copyright {
    background-color: #613318;
    color: #bdd09f;
}

footer.page-footer
h1 {
    color: #bdd09f;
}

footer.page-footer
h2 {
    color: #bdd09f;
}

footer.page-footer
h3 {
    color: #bdd09f;
}

footer.page-footer
h4 {
    color: #bdd09f;
}

footer.page-footer
h5 {
    color: #bdd09f;
}

footer.page-footer
h6 {
    color: #bdd09f;
}
